@import url("https://fonts.cdnfonts.com/css/gt-alpina-trial");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,100..900,100,1;1,9..144,100..900,100,1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

@unocss all;

@custom-variant dark (&:is(.dark *));

@plugin "tailwindcss-animate";

@plugin "@tailwindcss/typography";

.geist {
	font-family: "Geist", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.fraunces {
	font-family: "Fraunces", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
	font-variation-settings:
		"SOFT" 100,
		"WONK" 1;
	color: #435346 !important;
}

.dark .fraunces {
	color: white !important;
}

code {
	font-family: "Geist Mono", monospace !important;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: 1.8rem !important;
}

@media (min-width: 1024px) {
	.t-body-chat {
		font-size: 1.375rem;
		line-height: 1.99375rem;
		letter-spacing: -0.22px;
		font-weight: 350;
	}
}

.t-body-chat {
	font-size: 1.375rem;
	letter-spacing: -0.22px;
	font-weight: 350;
}

.alpina {
	font-family:
		"GT Alpina Trial", ui-serif, Georgia, Cambria, "Times New Roman", Times,
		serif;
}

.t-body-chat {
	line-height: 1.721875rem;
	font-weight: 400;
}

.t-body-chat {
	font-size: 1.375rem;
	letter-spacing: -0.22px;
}

.nodeLabel {
	@apply relative -top-1.5;
	font-family: "GT Alpina Trial", sans-serif;
	font-size: 26px;
}

.t-heading-s {
	font-family:
		"GT Alpina Trial", ui-serif, Georgia, Cambria, "Times New Roman", Times,
		serif;
	font-size: 1.25rem !important;
	letter-spacing: -0.19px;
	font-weight: 400;
}

blockquote {
	p {
		font-size: 24px;
		line-height: 2.5rem;
	}
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.text-primary-700 {
	--tw-text-opacity: 1;
	color: rgb(13 60 38 / var(--tw-text-opacity));
}

.shadow-card,
.shadow-input {
	--tw-shadow: 0px 12px 32px -6px #e4dbc8, 0px 2px 16px -6px #0000000c;
	--tw-shadow-colored:
		0px 12px 32px -6px var(--tw-shadow-color), 0px 2px 16px -6px
		var(--tw-shadow-color);
}

.border-pi-400 {
	--tw-border-opacity: 1;
	border-color: rgb(227 212 191 / var(--tw-border-opacity));
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 12px;
	/* Width of the scrollbar */
	height: 12px;
	/* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
	background: transparent;
	/* Background of the scrollbar track */
	@apply dark:bg-[#404040] rounded-full;
}

::-webkit-scrollbar-thumb {
	@apply dark:bg-[#171717] bg-gray-200;
	border-radius: 1rem;
	/* Rounded corners for the thumb */
	border: 3px solid transparent;
	/* Adds padding around the thumb */
	background-clip: content-box;
	/* Ensures the thumb stays within bounds */
}

body {
	box-sizing: border-box;
	font-family: "Geist", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

@layer base {
	body {
		@apply bg-white dark:bg-[#002c226b];
	}
}

foreignObject {
	width: 100% !important;
	height: 60px !important;
}

.scrollbar-hidden {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

@keyframes cursor {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

.font-mono {
	font-family: "Geist Mono", monospace !important;
	font-feature-settings: "mono" 1;
}

ol {
	list-style-type: decimal-leading-zero !important;
	list-style-position: inside !important;
	padding-left: 0.5rem !important;
}

ul {
	list-style-type: disc !important;
	list-style-position: inside !important;
	padding-left: 1rem !important;
}

.thinking-cursor::after {
	content: "▋";
	display: inline-block;
	animation: cursor 1s infinite;
	margin-left: 2px;
	color: currentColor;
}
